<!DOCTYPE html>


<html>

    <head>
        <title>Bamboo KEYWORD ANALYSIS </title>
        <% include ./header.ejs %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel='stylesheet' href='/css/index.css' />
        <link rel='stylesheet' href='/css/navbar.css' />

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/d3.layout.cloud.js"></script>
    </head>

    <body>
    <% include ./navbar.ejs %>
    <!--<div class="row" id = "place_1"></div>
    <div class="row" id = "place_2"></div> -->
    <div class="row" id = "word_cloud"></div>
    <div class="row" id = "vector_cloud"></div>


    </body>
    <script src="/index.js"></script>
</html>
