/*
#place_1{
    position:absolute;
    left:50px;
    top:100px;
}

#place_2{
    position:absolute;
    left:50px;
    top:600px;
}
*/
#word_cloud{
    position:absolute;
    left:100px;
    top:100px;

}

#vector_cloud{
    position:absolute;
    left:100px;
    top:600px;

}
